<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#">AppCo</a>
    </div>
    <div class="header__main">

      <div class="header__brand">
        <p class="header__slogan"><b>Brainstorming</b> for desired perfect Usability</p>
        <p class="header__text">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
        <button class="header__button" [routerLink]="['/', 'users']">View Stats</button>
      </div>

      <div class="header__mobile">

        <div class="iphone">
          <div class="iphone__speakers">
            <div class="iphone__speaker"></div>
            <div class="iphone__camera"></div>
          </div>
          <div class="iphone__inner">
            <div class="iphone__text"></div>
          </div>
          <div class="iphone__button_left_1"></div>
          <div class="iphone__button_left_2"></div>
          <div class="iphone__button_left_3"></div>
          <div class="iphone__button_right"></div>
        </div>
        <div class="header__shadow"></div>

      </div>
    </div>
  </div>
</header>

<section class="advantages">
  <div class="container">
    <div class="advantages__header">Why <b>small business owners love</b> AppCo?</div>
    <div class="advantages__text">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</div>
    <div class="advantages__wrapper">

      <div class="advantages__item">
        <div class="advantages__item_image"><img src="../../assets/images/clean.svg"></div>
        <p class="advantages__item_title">Clean Design</p>
        <p class="advantages__item_text">Increase sales by showing true dynamics of your website.</p>
      </div>

      <div class="advantages__item">
        <div class="advantages__item_image"><img src="../../assets/images/secure.svg"></div>
        <p class="advantages__item_title">Secure Data</p>
        <p class="advantages__item_text">Build your online store’s trust using Social Proof & Urgency.</p>
      </div>

      <div class="advantages__item">
        <div class="advantages__item_image"><img src="../../assets/images/retina.svg"></div>
        <p class="advantages__item_title">Retina Ready</p>
        <p class="advantages__item_text">Realize importance of social proof in customer’s purchase decision.</p>
      </div>

    </div>
  </div>
</section>

<section class="service">
  <div class="container">
    <div class="service__wrapper">

      <p class="service__title">Start Managing your apps business, more faster</p>
      <p class="service__text">Objectively deliver professional value with diverse web-readiness. Collaboratively transition
        wireless customer service without goal-oriented catalysts for change. Collaboratively.</p>
      <button class="service__button">Learn more</button>

      <div class="macbook">
        <div class="macbook__monitor">
          <div class="macbook__inner"></div>
        </div>
        <div class="macbook__join"></div>
        <div class="macbook__keyboard"></div>
      </div>

    </div>
  </div>
</section>

<section class="packages">
  <div class="container">
    <div class="packages__header"><b>Afforadble Pricing and Packages</b> choose your best one</div>
    <div class="packages__text">Monotonectally grow strategic process improvements vis-a-vis integrated resources.</div>
    <div class="packages__wrapper">
      <div class="packages__bg"></div>

      <div class="packages__item">
        <div class="packages__item_title">Basic</div>
        <div class="packages__item_image"><img src="../../assets/images/basic.png"></div>
        <div class="packages__item_price">$29</div>
        <p class="packages__item_text">Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7
          Phone Support 2 months technical support2+ profitable keyword</p>
        <button class="packages__item_button">Purchase now</button>
      </div>

      <div class="packages__item packages__item--has-shadow">
        <div class="packages__item_title">Standard</div>
        <div class="packages__item_image"><img src="../../assets/images/standart.png"></div>
        <div class="packages__item_price packages__item_price--selected">$149</div>
        <p class="packages__item_text">Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7
          Phone Support 2 months technical support2+ profitable keyword</p>
        <button class="packages__item_button">Purchase now</button>
      </div>

      <div class="packages__item">
        <div class="packages__item_title">Unlimited</div>
        <div class="packages__item_image"><img src="../../assets/images/unlimitted.png"></div>
        <div class="packages__item_price">$39</div>
        <p class="packages__item_text">Push Notifications Data Transfer SQL Database Search & SEO Analytics 24/7
          Phone Support 2 months technical support2+ profitable keyword</p>
        <button class="packages__item_button">Purchase now</button>
      </div>

    </div>
  </div>
</section>

<footer class="footer">

  <div class="container">
    <div class="footer__header">If you need custom services or Need more? <a href="#">Contact us</a></div>

    <form class="footer__form">
      <input placeholder="Enter you email">
      <button type="submit">Subscribe</button>
    </form>

    <div class="footer__wrapper">
      <div class="footer__logo">AppCo</div>
      <div class="footer__main">
        All rights reserved by ThemeTags
      </div>
      <div class="footer__copiright">Copyrights © 2019.</div>
    </div>
  </div>
</footer>




